<!DOCTYPE HTML>
<html>
<head>
    <title>Backbone Jax-rs API call</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>

<body>

<div id="header"><span class="title">Backbone Cellar</span></div>

<div id="sidebar"></div>

<div id="content">
    <h2>Welcome to Backbone Presentation view</h2>
    <p>
        This is a sample Jax-rs API call, showing how to build a CRUD application with Backbone.js.
    </p>
</div>

<!-- Templates -->
<script type="text/template" id="tpl-presentation-list-item">
    <ui>
        <% _.each(presentations, function(presentation) {%>
        <li>
            <span id="<%= presentation.id %>"><%= presentation.title %></span>
        </li> <%}); %>
    </ui>
</script>


<!-- JavaScript -->
<script src="../lib/jquery-1.7.1.min.js"></script>
<script src="../lib/underscore-min.js"></script>
<script src="../lib/backbone-min.js"></script>
<script src="js/main.js"></script>

</body>
</html>